{{ define "title"}}Home{{end}}

{{define "main"}}
<!-- <h2 class="chracter-heading"> Character sheet </h2> -->
<!---->
<!-- <div class="mx-3 flex-col justify-center grow w-11/12"> -->
<div class="mx-3 pt-2 text-center">
  <div>
    {{ template "abilityscores" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">
  </div>

  <div>
    {{ template "skills" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">

  </div>

  <div>
    {{ template "combat-stats" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">

  </div>

  <div>
    {{ template "attacks" .}}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">

  </div>

  <div>
    {{ template "moxie" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">

  </div>

  <div>
    {{ template "saving-throws" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">
  </div>


  <div>
    {{ template "hit-dice-outer" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">
  </div>


  <div>
    {{ template "languages-and-profs" . }}
    <hr class="mb-2 mt-3 h-px w-2/3 border-0 bg-tCharcoal mx-auto drop-shadow-xl">
  </div>


</div>

{{end}}
