{{ define "title"}}Home{{end}}

{{define "main"}}
<!-- <h2 class="chracter-heading"> Character sheet </h2> -->

{{ template "abilityscores" .}}
{{ template "skills" . }}
{{ template "saving-throws" .}}
{{ template "moxie" . }}
{{ template "hit-dice" . }}
{{end}}
