{{define "title"}} Class Traits {{end}}


{{define "main"}}


<div class="card-list-outer">
  {{range .ClassTraitsList}}
  <div>
    <details open=true>
      <summary class="card-header">
        <div class="heading-container">
          <h3 class="level-heading">{{ClassName .ClassName}}</h3>
        </div>
      </summary>
      {{range .Traits}}
      <div class="spellblock">
        <div class="card-body">
          <b>
            <span class="left">Level: {{.Level}} </span>
            <span class="center">{{.Name}} </span>
          </b>
          <p class="card-text">{{.Description}}</p><br>
        </div>
      </div>
      {{end}}
    </details>
    {{end}}
  </div>
</div>

{{end}}
