{{define "title"}} Class Traits {{end}}


{{define "main"}}


<div class="card-list-outer">
  {{range .ClassTraitsList}}
  <div class="px-10 py-1">
    <details open=true>
      <summary class="group bg-tTeal">
        <div class="text-white group-hover:text-tOrange">
          <h3 class="level-heading">{{ClassName .ClassName}}</h3>
        </div>
      </summary>
      {{range .Traits}}
      <div class="spellblock">
        <div class="card-body">
          <b>
            <span class="left">Level: {{.Level}} </span>
            <span class="center">{{.Name}} </span>
          </b>
          <p class="card-text">{{.Description}}</p><br>
        </div>
      </div>
      {{end}}
    </details>
  </div>
  {{end}}
</div>

{{end}}
