{{define "title"}} Edit Character {{end}}


{{define "main"}}
<!-- NOTE: It would be great to add a save flash and validation to this -->
<div class="flex-col justify-center text-center">

  <div class="character-editor">
    <details>
      <summary class="mx-4 mt-4  bg-tTeal text-white hover:text-tOrange ">
        Edit Character
      </summary>
      {{template "update-character" .}}
    </details>

  </div>
  <div class="spell-editor">
    <details>
      <summary class="mx-4 mt-4 bg-tTeal text-white hover:text-tOrange ">
        Edit Spells
      </summary>
      {{template "update-spells" .}}
    </details>
  </div>


</div>

{{end}}
