{{define "title"}} Fight Club {{end}}


{{define "main"}}

<div>
  <div class="mx-24 flex justify-center bg-tTeal py-2">
    <h3 class="text-l text-white ">{{.FightClubName}}</h1>
  </div>
  <div class="card-list-outer">
    {{range .FightClubFeatures}}
    <div>
      <div>
        <div class="m-5 ml-10  border-b-2 border-tDarkSage border-solid">
          <div class="flex justify-center items-center relative">
            <div class="text-left font-bold absolute left-4">Level: {{.Level}}</div>
            <div class="text-center font-bold"> {{.Name}} </div>
          </div>
          <p class="pl-4">{{.Description}}</p><br>
        </div>
      </div>
      </details>
      {{end}}
    </div>
  </div>
</div>

{{end}}
