{{define "title"}} Fight Club {{end}}


{{define "main"}}

<div>
  <div class="flex justify-center bg-tTeal mx-24 py-2">
    <h1 class="text-white">{{.FightClubName}}</h1>
  </div>
  <div class="card-list-outer">
    {{range .FightClubFeatures}}
    <div>
      <div class="spellblock">
        <div class="card-body">
          <b>
            <span class="left">Level: {{.Level}} </span>
            <span class="center">{{.Name}} </span>
          </b>
          <p class="card-text">{{.Description}}</p><br>
        </div>
      </div>
      </details>
      {{end}}
    </div>
  </div>
</div>

{{end}}
