{{define "title"}} Misc. {{end}}


{{define "main"}}

<div class="inventory-container">
  <table>
    <thead>
      <th>Name</th>
      <th>Cost</th>
      <th>Weight</th>
      <th>Description</th>
    </thead>
    <tbody>
      {{range .MiscItems}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Cost}}</td>
        <td>{{.Weight}}</td>
        <td>{{.Description}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <!-- The cool thing to do would be to add the form validation here 
  <p>Add to Inventory:</p>
  <form action="/inventory/add" method="post">
    <table>
      <tbody>
        <tr>
          <td><input type="text" value="Name" name="name" /> </td>
          <td><input type="number" value="Cost" name="cost" /></td>
          <td><input type="text" value="Weight" name="weight" /></td>
          <td><input type="text" value="Description" name="description" />
        </tr>
      </tbody>
    </table>
    <button type="submit">Add</button>
  </form>
  -->


</div>

{{end}}
