{{define "title"}}Spell Book {{end}}

{{define "main"}}
<div class="spellpage">
  {{template "spellslotcard" .}}
  <div class='spells'>
    {{if .SpellsByLevel}}
    {{range .SpellsByLevel}}
    <details open=true>
      <summary class="level-heading">
        <div class="heading-container">
          <h3 class="level-heading">Level: {{.Level}}</h3>
        </div>
      </summary>
      {{range .Spells}}
      <div class="spellblock">
        {{template "spellcard" .}}
      </div>
      {{end}}
      </table>
    </details>
    <hr class="spelllevel-seperator">
    {{end}}
    {{else}}
    <p>No spells found</p>
    {{end}}
  </div>
</div>
{{end}}
