{{define "title"}}Spell Book {{end}}

{{define "main"}}
<div class="spellpage">
	{{template "spellslotcard" .}}
	<div class='spells'>
		{{if .Spellbook}}
		{{range .Spellbook}}
		<div class="spellblock">
			{{template "spellcard" .}}
		</div>
		{{end}}
		</table>
		{{else}}
		<p>No spells found</p>
		{{end}}
	</div>
</div>
{{end}}
