{{define "title"}}Spell Book {{end}}

{{define "main"}}
<div class="spellpage">
  {{template "spellslotcard" .}}
  <div class='spells'>
    {{if .SpellsByLevel}}
    {{range .SpellsByLevel}}
    <div>
      <details open=true>
        <summary class="level-heading">
          <h3 class="p-1 mr-36 mb-1 hover:text-tMaroon active:text-tOrange">Level:
            {{.Level}}
          </h3>
        </summary>
        {{range .Spells}}
        <div class="pb-1 last:pb-5">
          {{template "spellcard" .}}
        </div>
        {{end}}
      </details>
    </div>
    {{end}}
    {{else}}
    <p>No spells found</p>
    {{end}}
  </div>
</div>
{{end}}
