{{define "abilityscores"}}


<div class="abilityscores">
  <details open=true>
    <summary>
      <h2 class="character-heading">Ability Scores</h2>
    </summary>
    <table>
      <thead>
        <tr>
          <th>Strength</th>
          <th>Dexterity</th>
          <th>Constitution</th>
          <th>Intelligence</th>
          <th>Wisdom</th>
          <th>Charisma</th>
        </tr>
      </thead>
      <tbody>
        {{with .AbilityScores }}

        <tr>
          <td>{{.Str}}</td>
          <td>{{.Dex}}</td>
          <td>{{.Con}}</td>
          <td>{{.Int}}</td>
          <td>{{.Wis}}</td>
          <td>{{.Cha}}</td>
        </tr>
        <tr>
          <td><b> {{ Mod .Str }} </b></td>
          <td><b> {{ Mod .Dex }} </b></td>
          <td><b> {{ Mod .Con }} </b></td>
          <td><b> {{ Mod .Int }} </b></td>
          <td><b> {{ Mod .Wis }} </b></td>
          <td><b> {{ Mod .Cha }} </b></td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </details>
</div>

{{end}}
