{{define "abilityscores"}}


<div class="abilityscores">
  <details>
    <summary>
      <h2 class="character-heading">Ability Scores</h2>
    </summary>
    <table>
      <thead>
        <tr>
          <th>Strength</th>
          <th>Dexterity</th>
          <th>Constitution</th>
          <th>Intelligence</th>
          <th>Wisdom</th>
          <th>Charisma</th>
        </tr>
      </thead>
      <tbody>
        {{if .AbilityScores }}
        <tr>
          <td>{{.Str}}</td>
          <td>{{.Dex}}</td>
          <td>{{.Con}}</td>
          <td>{{.Int}}</td>
          <td>{{.Wis}}</td>
          <td>{{.Cha}}</td>
        </tr>
        <tr>
          <td><b>2</b></td>
          <td><b>-1</b></td>
          <td><b>3</b></td>
          <td><b>0</b></td>
          <td><b>1</b></td>
          <td><b>1</b></td>
        </tr>

        {{else }}
        <tr>
          <td>15</td>
          <td>8</td>
          <td>16</td>
          <td>10</td>
          <td>12</td>
          <td>13</td>
        </tr>
        <tr>
          <td><b>2</b></td>
          <td><b>-1</b></td>
          <td><b>3</b></td>
          <td><b>0</b></td>
          <td><b>1</b></td>
          <td><b>1</b></td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </details>
</div>

{{end}}
