{{define "abilityscores"}}

<div class="abilityscores">
  <table>
    <thead>
      <tr>
        <th>Strength</th>
        <th>Dexterity</th>
        <th>Constitution</th>
        <th>Intelligence</th>
        <th>Wisdom</th>
        <th>Charisma</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>15</td>
        <td>8</td>
        <td>16</td>
        <td>10</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <td>15</td>
        <td>8</td>
        <td>16</td>
        <td>10</td>
        <td>12</td>
        <td>13</td>
      </tr>
    </tbody>
  </table>


</div>

{{end}}
