{{define "attacks"}}
<div class="attacks">
  <details>
    <summary>
      <h2 class="character-heading">Attacks</h2>
    </summary>
    <div class="container">
      {{range .Attacks}}
      <div>
        <ul>
          <!-- need to change this to in line or maybe a headless table -->
          <li>{{.Name}}</li>
          <li>{{.Melee}}</li>
          <li>{{.Dice}}</li>
        </ul>
      </div>
      {{end}}
    </div>
  </details>

</div>
{{end}}
