{{define "combat-stats-table"}}
<table id="combatTable" hx-get="/combatstats/health" hx-trigger="healthUpdate from:body">
  <thead>
    <tr>
      <th>Max HP</th>
      <th>Current HP</th>
      <th>Temp HP</th>
      <th>AC</th>
      <th>Death Saves</th>
    </tr>
  </thead>
  <tbody>
    {{with .CombatStats }}

    <tr>
      <td>{{.HpMax}}</td>
      <td>{{.HpCurrent}}</td>
      <td>{{.HpTemp}}</td>
      <td>{{.ArmorClass}}</td>
      <td>{{.DeathSaves}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
