{{ define "hit-dice" }}

<div class="hit-dice">

  <details>
    <summary>
      <h2 class="character-heading">Hit Dice</h2>
    </summary>

    {{if .HitDiceSet}}
    <div class="hit-dice">
      {{ range .HitDiceSet }}

      <form action="/hitdice" method="post">
        D{{ .Sides }}: <b>{{.Current}}</b>/{{.Number}}
        <button type="submit" name="hit-dice" value="{{.Sides}}">Expend</button>
      </form>

      {{end}}
    </div>
    <div class="hit-dice-reset">
      <form action="/hitdice" method="post">
        <button type="submit" name="reset" value="true">Reset Hit Dice</button>
      </form>
    </div>

    {{else}}
    <p> No hit dice </p>
    {{end}}



  </details>

</div>

{{ end }}
