{{ define "hit-dice" }}
{{if .HitDiceSet}}
<div id="hitdice-inner-container">
  {{ range .HitDiceSet }}

  <div class="inline-form moxie-points">
    <form hx-post="/hitdice" hx-target="#hitdice-inner-container">
      D{{ .Sides }}: <b>{{.Current}}</b>/{{.Number}}
      <button class="bg-tTeal text-white hover:bg-tBurntUmber active:bg-tOrange active:ring active:ring-tMaroon"
        type="submit" name="hit-dice" value="{{.Sides}}">Expend</button>

    </form>
  </div>

  {{end}}
  <div class="inline-form moxie-points">
    <div class="hit-dice-reset">
      <form hx-post="/hitdice" hx-target="#hitdice-inner-container">
        <button class="bg-tTeal text-white hover:bg-tBurntUmber active:bg-tOrange active:ring active:ring-tMaroon"
          type="submit" name="reset" value="true">Reset Hit Dice</button>
      </form>
    </div>
  </div>

  {{else}}
  <p> No hit dice </p>
  {{end}}

</div>

{{ end }}



{{ define "hit-dice-outer" }}

<div id="hit-container" class="hit-dice">

  <details>
    <summary>
      <h2 class="character-heading">Hit Dice</h2>
    </summary>

    <div class="container">
      {{template "hit-dice" .}}
    </div>

  </details>

</div>
{{ end }}
