{{define "languages-and-profs"}}

<div class="flex justify-center text-center">
  <details>
    <summary class="group">
      <h2 class="mx-auto pt-2 text-center group-hover:text-tMaroon group-active:text-tOrange">Languages & Proficiences
      </h2>
    </summary>
    <div class="container">
      <p>Languages:
        {{range .Languages}}
        {{.}},
        {{end }}
      <p>
      <p>
        Proficiencies:
        {{range .ToolProficiencies}}
        {{.}},
        {{end}}
      </p>
    </div>
  </details>

</div>

{{end}}
