{{define "moxie"}}

<div id="moxie-container" class="moxie">

  <details open=true>
    <summary class="group">
      <h2 class="mx-auto pt-2 text-center group-hover:text-tMaroon group-active:text-tOrange">Moxie Points</h2>
    </summary>

    <div id="moxieDiv">

      <div class="inline-flex justify-between text-center space-x-4">
        <div class="mt-4">
          Moxie points: <b>{{.MoxiePoints.Current}}</b>/{{.MoxiePoints.Max}}
        </div>
        <form hx-post="/moxie" hx-target="#moxie-container" hx-swap="innerHTML">
          <button class="bg-tTeal text-white hover:bg-tDarkSage active:bg-tSage active:ring active:ring-tMaroon"
            type="submit" name="use" value="true">Expend</button>
        </form>

        <div>
          <form hx-post="/resetmoxie" hx-target="#moxie-container" hx-swap="innerHTML">
            <button class="bg-tTeal text-white hover:bg-tDarkSage active:bg-tSage active:ring active:ring-tMaroon"
              type="submit" name="reset" value="true">Reset moxie</button>
          </form>
        </div>

        <!-- Just padding inbetween the active and passive points of the moxie bar -->
        <div class="min-w-40"></div>
        <p class="mt-4">Pugilist Die: d{{.PugilistDie}}</p>
        <p class="mt-4"><a class="text-tSage hover:text-tMaroon active:text-tOrange" href="/class/traits">Moxie
            actions</a></p>
      </div>
    </div>



  </details>

</div>
{{end}}
