{{define "moxie"}}

<div class="moxie">

  <details open=true>
    <summary>
      <h2 class="character-heading">Moxie Points</h2>
    </summary>

    {{with .MoxiePoints}}
    <div class="container">
      <div class="inline-form moxie-points">
        <form action="/moxie" method="post">
          Moxie points: <b>{{.Current}}</b>/{{.Max}}
          <button type="submit" name="use" value="true">Expend</button>
        </form>

      </div>
      <div class="inline-form right moxie-reset">
        <form action="/resetmoxie" method="post">
          <button type="submit" name="reset" value="true">Reset moxie</button>
        </form>
      </div>
      <p style="margin-top: 5px;"><a href="/class/traits">Moxie actions</a></p>
    </div>

    {{else}}
    <p>No moxie points</p>
    {{end}}

    <p style="margin-top: 5px;">Pugilist Die: d{{.PugilistDie}}</p>


  </details>

</div>

{{end}}
