{{define "moxie"}}

<div id="moxie-container" class="moxie">

  <details open=true>
    <summary>
      <h2 class="character-heading">Moxie Points</h2>
    </summary>

    <div id="moxieDiv" class="container">

      <div class="inline-form moxie-points">
        <form hx-post="/moxie" hx-target="#moxie-container" hx-swap="innerHTML">
          Moxie points: <b>{{.MoxiePoints.Current}}</b>/{{.MoxiePoints.Max}}
          <button type="submit" name="use" value="true">Expend</button>
        </form>

      </div>
      <div class="inline-form right moxie-reset">
        <form action="/resetmoxie" method="post">
          <button type="submit" name="reset" value="true">Reset moxie</button>
        </form>
      </div>
      <p style="margin-top: 5px;"><a href="/class/traits">Moxie actions</a></p>
    </div>

    <p style="margin-top: 5px;">Pugilist Die: d{{.PugilistDie}}</p>


  </details>

</div>
{{end}}
