{{define "nav"}}
<nav>
  <div class="center-items">
    <a href='/'>Character Sheet</a>
    <a href='/spells'>Spell List</a>
    <a href='/class/traits'>Class Traits</a>
    <a href='/fightclub'>Fight Club</a>
    <a href='/features'>Misc. Features</a>
    <a href='/inventory'>Inventory</a>
    <a href='/misc'>Misc. Items</a>
  </div>
  <div class="right-items">
    <a href='/edit'>Edit character</a>
    <a href='/save'>Save</a>
    <a href='/load'>Load</a>
    <a href='/dump'>Dump</a>
  </div>
</nav>
{{end}}
