{{define "nav"}}
<nav class="bg-white">
  <div>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/inner/characterSheet'
      hx-target="#main-div">Character
      Sheet</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/spells'>Spell List</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/class/traits'>Class Traits</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/fightclub'>Fight Club</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/features'>Misc. Features</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/inventory'>Inventory</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/misc'>Misc. Items</a>
  </div>
  <div class="right-items">
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/edit'>Edit character</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/save'>Save</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/load'>Load</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" href='/dump'>Dump</a>
  </div>
</nav>
{{end}}
