{{define "nav"}}
<nav>
  <a href='/'>Character Sheet</a>
  <a href='/spells'>Spell List</a>
  <a href='/class/traits'>Class Traits</a>
  <a href='/features'>Misc. Features</a>
  <a href='/edit'>Edit character</a>
  <a href='/save'>Save</a>
  <a href='/load'>Load</a>
</nav>
{{end}}
