{{define "nav"}}
<nav class="bg-white">
  <div>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get="/inner/characterSheet"
      hx-target="#main">Character
      Sheet</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/spells' hx-target="#main">Spell
      List</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/class/traits'
      hx-target="#main">Class Traits</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/fightclub' hx-target="#main">Fight
      Club</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/features' hx-target="#main">Misc.
      Features</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/inventory'
      hx-target="#main">Inventory</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/misc' hx-target="#main">Misc.
      Items</a>
  </div>
  <div class="right-items">
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/edit' hx-target="#main">Edit
      character</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/save' hx-target="#main">Save</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/load' hx-target="#main">Load</a>
    <a class="text-tSage font-bold hover:text-tMaroon active:text-tOrange" hx-get='/dump' hx-target="#main">Dump</a>
  </div>
</nav>
{{end}}
