{{define "saving-throws"}}

<div class="savingthrows">
  <details>
    <summary class="group">
      <h2 class="mx-auto pt-2 text-center group-hover:text-tMaroon group-active:text-tOrange">Saving Throws</h2>
    </summary>
    <div>
      <table class="saving-table">
        <thead>
          <tr>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Constitution</th>
            <th>Intelligence</th>
            <th>Wisdom</th>
            <th>Charisma</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4</td>
            <td></td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </details>
</div>

{{end}}
