{{define "skills"}}

<div class="skills">
  <details>
    <summary>
      <h2 class="character-heading"> Skills </h2>
    </summary>
    <table class="skills-table">
      <thead>
        <tr>
          <th>Strength</th>
          <th>Dexterity</th>
          <th>Constitution</th>
          <th>Intelligence</th>
          <th>Wisdom</th>
          <th>Charisma</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            ✅ Athletics
          </td>
          <td>
            Acrobatics
          </td>
          <td>
            <!-- Constitution -->
          </td>
          <td>
            Arcana
          </td>
          <td>
            Animal Handling
          </td>
          <td>
            Deception
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            Slieght of Hand
          </td>
          <td>
            <!-- Constitution -->
          </td>
          <td>
            History
          </td>
          <td>
            Insight
          </td>
          <td>
            Intimidation
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            Stealth
          </td>
          <td>
            <!-- Constitution -->
          </td>
          <td>
            Investigation
          </td>
          <td>
            Medicine
          </td>
          <td>
            Performance
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <!-- Constitution -->
          </td>
          <td>
            Nature
          </td>
          <td>
            ✅ Perception
          </td>
          <td>
            Persuasion
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <!-- Constitution -->
          </td>
          <td>
            Religion
          </td>
          <td>
            ✅ Survival
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

  </details>
</div>

{{end}}
