{{define "spellcard"}}
<div class="spellcard">
  <details>
    <summary class="group flex items-center justify-between bg-tTeal text-white">
      <span class="ml-2 justify-start">Level: {{.Level}}</span>
      <span class="justify-center group-hover:text-tOrange">{{.Name}}</span>
      <div class="justify-end">
        <div class="mx-5 flex items-center justify-between pb-2">
          <form hx-post="/spells/slots" hx-target="#spellslot-container" hx-swap="outerHTML">
            <input type="hidden" name="slotlevel" value="{{.Level}}">
            <span class="mx-5 "><button
                class="bg-tMaroon text-white hover:bg-tBurntUmber active:bg-tBeige active:ring active:ring-tOrange">Cast</button></span>
          </form>
          <span class="justify-end"><button
              class="bg-tMaroon text-white hover:bg-tBurntUmber active:bg-tBeige active:ring active:ring-tOrange">Copy</button></span>
        </div>
      </div>
    </summary>
    <div class="py-1">
      <p class="card-text">{{.Description}}</p><br>
      {{if .HigherLevel}}
      <p class="card-text"><b>At higher levels:</b><br>{{.HigherLevel}}</p><br>
      {{end}}
      <ul class="spell-list-group">
        <li class="list-group-item"><b>Range:</b> {{.RangeFeet}}ft</li>
        <li class="list-group-item"><b>Duration:</b> {{.Duration}}</li>
        <li class="list-group-item"><b>Casting:</b> {{.Casting}}</li>
        <li class="list-group-item"><b>Components:</b> {{.Components}}</li>
        <li class="list-group-item"><b>School:</b> {{.School}}</li>
      </ul>
    </div>
  </details>
</div>
{{end}}
