{{define "spellslotcard"}}

<div id="spellslot-container" class="sticky top-0 w-1/5">
	<div class="m-4">
		<span>
			<h1 class="font-bold text-tSage underline">Spell Slots (current/max):</h1>
		</span>

		{{ if .SpellSlots }}
		{{range .SpellSlots}}

		<form hx-post="/spells/slots" hx-target="#spellslot-container" hx-swap="outerHTML">
			<div class="flex items-center justify-between ">
				<input type="hidden" name="slotlevel" value="{{.Level}}">
				<span class="pt-2">Level {{.Level}}: {{.Remaining}}/{{.Max}}</span>
				<span class="">
					<button type="submit"
						class="bg-tTeal text-white hover:bg-tDarkSage active:bg-tSage active:ring active:ring-tMaroon">Cast
						Spell</button>
				</span>
			</div>
		</form>

		{{end}}
		<form hx-post="/spells/slots" hx-target="#spellslot-container" hx-swap="outerHTML">
			<div class="flex justify-end">
				<button class="bg-tTeal text-white hover:bg-tDarkSage active:bg-tSage  active:ring active:ring-tMaroon"
					type="submit">Reset Spells</button>
				<input type="hidden" name="reset" value="true">
			</div>
		</form>

		{{else}}

		<p>None</p>

		{{end}}
	</div>
</div>

{{end}}
