{{define "spellslotcard"}}

<div class="container-sidebar">
	<div class="sidebar">
		<p><b>Spell Slots (current/max):</b></p>

		{{ if .SpellSlots }}
		{{range .SpellSlots}}

		<form action="/spells" method="POST">
			<p>{{.Level}}: {{.Remaining}}/{{.Max}}</p>
			<input type="hidden" name="slotlevel" value="{{.Level}}">
			<button type="submit" class="spell-button">Cast Spell</button>
		</form>

		{{end}}
		<br>
		<hr style="width:50%;text-align:left;margin-left:0">
		<form action="/spells" method="POST">
			<button type="submit" class="spell-button">Reset Spells</button>
			<input type="hidden" name="reset" value="true">
		</form>


		{{else}}

		<p>None</p>

		{{end}}
	</div>
</div>

{{end}}
