{{define "spellcard"}}
<div class="spellcard">
  <details>
    <summary class="card-header">
      {{.Level}} - {{.Name}}
    </summary>
    <div class="card-body">
      <p class="card-text">{{.Description}}</p><br>
      <p class="card-text">At higher levels:<br>{{.HigherLevel}}</p><br>
      <ul class="spell-list-group">
        <li class="list-group-item"><b>Range:</b> {{.RangeFeet}}ft</li>
        <li class="list-group-item"><b>Duration:</b> {{.Duration}}</li>
        <li class="list-group-item"><b>Casting:</b> {{.Casting}}</li>
        <li class="list-group-item"><b>Components:</b> {{.Components}}</li>
        <li class="list-group-item"><b>School:</b> {{.School}}</li>
      </ul>
    </div>
  </details>
</div>
{{end}}
