{{define "update-character"}}
<div id="character-editor">
  <form hx-post="/updateCharacter" hx-target="#character-editor" hx-swap="outerHTML">
    <textarea name="character">{{.CharacterDump}}</textarea>
    <button type="submit" value="Submit">Submit</button>
  </form>
</div>
{{end}}
